<!DOCTYPE html>
<html>
<head>
    

    

    



    <meta charset="utf-8">
    
    
    
    <link rel="canonical" href="true/articles/angular-directive/">
    
    
    <title>AngularJS踩坑之路(一)：一些有关内置指令的要记 | 独孤剑走偏锋</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <meta name="theme-color" content="#000000">
    
    
    <meta name="keywords" content="angularJs">
    <meta name="description" content="开始入坑angularJs，在此记录一下自己学习过程中的点滴，希望angular大哥能够友好对待小弟，我的学习地址：网易云云课堂，本文章记录一些我觉得需要记录的知识点和注意事项。">
<meta name="keywords" content="angularJs">
<meta property="og:type" content="article">
<meta property="og:title" content="AngularJS踩坑之路(一)：一些有关内置指令的要记">
<meta property="og:url" content="https://eviler.top/articles/angular-directive/index.html">
<meta property="og:site_name" content="独孤剑走偏锋">
<meta property="og:description" content="开始入坑angularJs，在此记录一下自己学习过程中的点滴，希望angular大哥能够友好对待小弟，我的学习地址：网易云云课堂，本文章记录一些我觉得需要记录的知识点和注意事项。">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2018-10-15T13:34:04.719Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="AngularJS踩坑之路(一)：一些有关内置指令的要记">
<meta name="twitter:description" content="开始入坑angularJs，在此记录一下自己学习过程中的点滴，希望angular大哥能够友好对待小弟，我的学习地址：网易云云课堂，本文章记录一些我觉得需要记录的知识点和注意事项。">
    
        <link rel="alternate" type="application/atom+xml" title="独孤剑走偏锋" href="/atom.xml">
    
    <link rel="shortcut icon" href="/img/eviler.ico">
    <link rel="stylesheet" href="/css/style.css?v=1.7.2">
    <script>window.lazyScripts=[]</script>

    <!-- custom head -->
    

</head>

<body>
    <div id="loading" class="active"></div>

    <aside id="menu" class="hide"
     >
    <div class="inner flex-row-vertical">
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-off">
            <i class="icon icon-lg icon-close"></i>
        </a>
        <div class="brand-wrap" style="background-image:url(/img/headBack.jpg)">
            <div class="brand">
                <a href="/" class="avatar waves-effect waves-circle waves-light">
                    <img src="/img/eviler.png">
                </a>
                <hgroup class="introduce">
                    <h5 class="nickname">
                        Eviler Zhao
                    </h5>
                    <a href="mailto:eviler_zhao@163.com" title="eviler_zhao@163.com" class="mail">eviler_zhao@163.com</a>
                </hgroup>
            </div>
        </div>
        <div class="scroll-wrap flex-col">
            <ul class="nav">
                
                <li class="waves-block waves-effect">
                    <a href="/"  >
                        <i class="icon icon-lg icon-home"></i>
                        主页
                    </a>
                </li>
                
                <li class="waves-block waves-effect">
                    <a href="/archives"  >
                        <i class="icon icon-lg icon-archives"></i>
                        归档
                    </a>
                </li>
                
                <li class="waves-block waves-effect">
                    <a href="/tags"  >
                        <i class="icon icon-lg icon-tags"></i>
                        标签
                    </a>
                </li>
                
                <li class="waves-block waves-effect">
                    <a href="/categories"  >
                        <i class="icon icon-lg icon-th-list"></i>
                        分类
                    </a>
                </li>
                
                <li class="waves-block waves-effect">
                    <a href="https://github.com/evilerSS" target="_blank"
                         >
                        <i class="icon icon-lg icon-github"></i>
                        Github
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</aside>

    <main id="main">
        <header class="top-header" id="header">
    <div class="flex-row">
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light on" id="menu-toggle">
          <i class="icon icon-lg icon-navicon"></i>
        </a>
        <div class="flex-col header-title ellipsis">AngularJS踩坑之路(一)：一些有关内置指令的要记</div>
        
        <div class="search-wrap" id="search-wrap">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="back">
                <i class="icon icon-lg icon-chevron-left"></i>
            </a>
            <input type="text" id="key" class="search-input" autocomplete="off" placeholder="输入感兴趣的关键字">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="search">
                <i class="icon icon-lg icon-search"></i>
            </a>
        </div>
        
        
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menuShare">
            <i class="icon icon-lg icon-share-alt"></i>
        </a>
        
    </div>
</header>
<header class="content-header post-header">

    <div class="container fade-scale">
        <h1 class="title">AngularJS踩坑之路(一)：一些有关内置指令的要记</h1>
        <h5 class="subtitle">
            
                <time datetime="2018-10-13T12:45:10.000Z" itemprop="datePublished" class="page-time">
  2018-10-13
</time>


	<ul class="article-category-list"><li class="article-category-list-item"><a class="article-category-list-link" href="/categories/前端/">前端</a></li></ul>

            
        </h5>
    </div>

    


</header>


<div class="container body-wrap">
    
    <aside class="post-widget">
        <nav class="post-toc-wrap post-toc-shrink" id="post-toc">
            <h4>TOC</h4>
            <ol class="post-toc"><li class="post-toc-item post-toc-level-2"><a class="post-toc-link" href="#表达式"><span class="post-toc-number">1.</span> <span class="post-toc-text">表达式</span></a></li><li class="post-toc-item post-toc-level-2"><a class="post-toc-link" href="#ng-switch指令"><span class="post-toc-number">2.</span> <span class="post-toc-text">ng-switch指令</span></a></li><li class="post-toc-item post-toc-level-2"><a class="post-toc-link" href="#ng-repeat指令"><span class="post-toc-number">3.</span> <span class="post-toc-text">ng-repeat指令</span></a></li><li class="post-toc-item post-toc-level-2"><a class="post-toc-link" href="#ng-class指令"><span class="post-toc-number">4.</span> <span class="post-toc-text">ng-class指令</span></a></li></ol>
        </nav>
    </aside>


<article id="post-angular-directive"
  class="post-article article-type-post fade" itemprop="blogPost">

    <div class="post-card">
        <h1 class="post-card-title">AngularJS踩坑之路(一)：一些有关内置指令的要记</h1>
        <div class="post-meta">
            <time class="post-time" title="2018-10-13 20:45:10" datetime="2018-10-13T12:45:10.000Z"  itemprop="datePublished">2018-10-13</time>

            
	<ul class="article-category-list"><li class="article-category-list-item"><a class="article-category-list-link" href="/categories/前端/">前端</a></li></ul>



            
<span id="busuanzi_container_page_pv" title="文章总阅读量" style='display:none'>
    <i class="icon icon-eye icon-pr"></i><span id="busuanzi_value_page_pv"></span>
</span>


        </div>
        <div class="post-content" id="post-content" itemprop="postContent">
            <p>开始入坑angularJs，在此记录一下自己学习过程中的点滴，希望angular大哥能够友好对待小弟，我的学习地址：<a href="https://study.163.com/course/courseMain.htm?courseId=1004018030" target="_blank" rel="noopener">网易云云课堂</a>，本文章记录一些我觉得需要记录的知识点和注意事项。<br><a id="more"></a></p>
<h2 id="表达式"><a href="#表达式" class="headerlink" title="表达式"></a>表达式</h2><p><strong>注意事项</strong></p>
<ul>
<li>不能使用任何流程控制语句(if/else)</li>
<li>可以使用过滤器或过滤器链（虽然还不知道怎么使用emmmm）</li>
</ul>
<h2 id="ng-switch指令"><a href="#ng-switch指令" class="headerlink" title="ng-switch指令"></a>ng-switch指令</h2><pre><code>&lt;div&gt;
    &lt;select ng-model=&quot;selectItem&quot;&gt;
        &lt;option value=&quot;java&quot;&gt;java&lt;/option&gt;
        &lt;option value=&quot;php&quot;&gt;php&lt;/option&gt;
    &lt;/select&gt;
    &lt;ul ng-switch=&quot;selectItem&quot;&gt;
        &lt;li ng-switch-when=&quot;java&quot;&gt;选择了Java&lt;/li&gt;
        &lt;li ng-switch-when=&quot;php&quot;&gt;选择了Php&lt;/li&gt;
        &lt;li ng-switch-default&gt;什么都没选&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre><h2 id="ng-repeat指令"><a href="#ng-repeat指令" class="headerlink" title="ng-repeat指令"></a>ng-repeat指令</h2><pre><code>&lt;div ng-init=&quot;arr=[&apos;a&apos;,&apos;b&apos;,&apos;c&apos;]&quot;&gt;
    &lt;ul&gt;
        &lt;li ng-repeat=&quot;x in arr&quot;&gt;{{x}}&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre><p><strong>注意：下面的使用方法会使angular抛出异常</strong></p>
<pre><code>&lt;div ng-init=&quot;arr2=[&apos;a&apos;,&apos;b&apos;,&apos;c&apos;,&apos;b&apos;]&quot;&gt;
    &lt;ul&gt;
        &lt;li ng-repeat=&quot;m in arr2&quot;&gt;{{m}}&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre><p>我们注意到，上面的arr2中有两个相同的字符’b’,angular再便利时需要一个唯一值可以与生成的dom绑定，以便追踪，而在指定的组中出现了相同的值’b’，此时需要track by来为angular确定一个唯一值，将上面的代码改为如下即可：</p>
<pre><code>&lt;div ng-init=&quot;arr2=[&apos;a&apos;,&apos;b&apos;,&apos;c&apos;,&apos;b&apos;]&quot;&gt;
    &lt;ul&gt;
        &lt;li ng-repeat=&quot;m in arr2 track by $index&quot;&gt;{{m}}&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre><p>我在想，如果为了避免这种错误再次发生，我们是否可以每次使用ng-repeat指令都使用track by $index呢？我觉得没问题=_=<br>使用过vue的人就会发现，我们使用v-for时，一般都是这种格式:</p>
<pre><code>&lt;li v-for=&quot;(item, index) in itenList&quot; :key=&quot;index&quot;&gt;&lt;/li&gt;
</code></pre><p>我在使用过程中发现，如果不绑定key，编辑器会发出警告信息（可能是vscode插件起的作用吧，不做追究了）<br>angular的ng-repeat何尝不这样做呢，有利无害有木有（按照我的经验和我现在的学习进度来看）。<br><strong>注意：上面的话我得回收一下，因为学完这个的第二天，我又学习了过滤器，然后才发现用过滤器的时候不能使用track by，哈哈哈，打脸啪-啪-啪，左右左右BABA</strong></p>
<p>还有需要注意的地方就是有关’$’操作符，按照我的理解：<br>$index  返回数组下标<br>$first  返回布尔值：是否为数组第一项<br>$last   返回布尔值：是否为数组最后项</p>
<h2 id="ng-class指令"><a href="#ng-class指令" class="headerlink" title="ng-class指令"></a>ng-class指令</h2><p>看看下面的代码：</p>
<pre><code>&lt;div ng-init=&quot;c1=&apos;box1&apos;;bol=true;isC1=true;isC2=true;isC3=false&quot;&gt;
    &lt;div class=&quot;box&quot; ng-class=&quot;c1&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;box&quot; ng-class=&quot;{true:&apos;box2&apos;,false:&apos;box3&apos;}[bol]&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;box&quot; ng-class=&quot;{&apos;box1&apos;:isC1,&apos;box2&apos;:isC2,&apos;box3&apos;:isC3}&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre><p>其中box、box1、box2、box3为样式类名<br>这段代码的效果是：里层的三个div绑定的class分别为（box1）、（box2）和（box1、box2）,<br>这是dom绑定class的三种方式，我们注意到，第一种绑定方式先把类名box1赋值给c1，然后再把c1绑定在指令ng-class，这样是不是显得麻烦了？为何不直接使用下面的代码进行绑定呢：</p>
<pre><code>&lt;div class=&quot;box&quot; ng-class=&quot;box1&quot;&gt;&lt;/div&gt;
</code></pre><p>我试了一下，这样绑定是没有效果的，也就是没有绑定成功，但如果像下面这样使用，就可以绑定成功（box外面加一层单引号）：</p>
<pre><code>&lt;div class=&quot;box&quot; ng-class=&quot;&apos;box1&apos;&quot;&gt;&lt;/div&gt;
</code></pre>
        </div>

        <blockquote class="post-copyright">
    
    <div class="content">
        
<span class="post-time">
    最后更新时间：<time datetime="2018-10-15T13:34:04.719Z" itemprop="dateUpdated">2018-10-15 21:34:04</time>
</span><br>


        
    </div>
    
    <footer>
        <a href="https://eviler.top">
            <img src="/img/eviler.png" alt="Eviler Zhao">
            Eviler Zhao
        </a>
    </footer>
</blockquote>

        


        <div class="post-footer">
            
	<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/angularJs/">angularJs</a></li></ul>


            
<div class="page-share-wrap">
    

<div class="page-share" id="pageShare">
    <ul class="reset share-icons">
      <li>
        <a class="weibo share-sns" target="_blank" href="http://service.weibo.com/share/share.php?url=https://eviler.top/articles/angular-directive/&title=《AngularJS踩坑之路(一)：一些有关内置指令的要记》 — 独孤剑走偏锋&pic=https://eviler.top/img/eviler.png" data-title="微博">
          <i class="icon icon-weibo"></i>
        </a>
      </li>
      <li>
        <a class="weixin share-sns wxFab" href="javascript:;" data-title="微信">
          <i class="icon icon-weixin"></i>
        </a>
      </li>
      <li>
        <a class="qq share-sns" target="_blank" href="http://connect.qq.com/widget/shareqq/index.html?url=https://eviler.top/articles/angular-directive/&title=《AngularJS踩坑之路(一)：一些有关内置指令的要记》 — 独孤剑走偏锋&source=开始入坑angularJs，在此记录一下自己学习过程中的点滴，希望angular大哥能够友好对待小弟，我的学习地址：网易云云课堂，本文章记录一些我觉得需要..." data-title=" QQ">
          <i class="icon icon-qq"></i>
        </a>
      </li>
      <li>
        <a class="facebook share-sns" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://eviler.top/articles/angular-directive/" data-title=" Facebook">
          <i class="icon icon-facebook"></i>
        </a>
      </li>
      <li>
        <a class="twitter share-sns" target="_blank" href="https://twitter.com/intent/tweet?text=《AngularJS踩坑之路(一)：一些有关内置指令的要记》 — 独孤剑走偏锋&url=https://eviler.top/articles/angular-directive/&via=https://eviler.top" data-title=" Twitter">
          <i class="icon icon-twitter"></i>
        </a>
      </li>
      <li>
        <a class="google share-sns" target="_blank" href="https://plus.google.com/share?url=https://eviler.top/articles/angular-directive/" data-title=" Google+">
          <i class="icon icon-google-plus"></i>
        </a>
      </li>
    </ul>
 </div>



    <a href="javascript:;" id="shareFab" class="page-share-fab waves-effect waves-circle">
        <i class="icon icon-share-alt icon-lg"></i>
    </a>
</div>



        </div>
    </div>

    
<nav class="post-nav flex-row flex-justify-between">
  
    <div class="waves-block waves-effect prev">
      <a href="/articles/angular-controller/" id="post-prev" class="post-nav-link">
        <div class="tips"><i class="icon icon-angle-left icon-lg icon-pr"></i> Prev</div>
        <h4 class="title">AngularJS踩坑之路(二)：控制器</h4>
      </a>
    </div>
  

  
</nav>



    

















</article>



</div>

        <footer class="footer">
    <div class="top">
        
<p>
    <span id="busuanzi_container_site_uv" style='display:none'>
        站点总访客数：<span id="busuanzi_value_site_uv"></span>
    </span>
    <span id="busuanzi_container_site_pv" style='display:none'>
        站点总访问量：<span id="busuanzi_value_site_pv"></span>
    </span>
</p>


        <p>
            
                <span><a href="/atom.xml" target="_blank" class="rss" title="rss"><i class="icon icon-lg icon-rss"></i></a></span>
            
            <span>博客内容遵循 <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">知识共享 署名 - 非商业性 - 相同方式共享 4.0 国际协议</a></span>
        </p>
    </div>
    <div class="bottom">
        <p><span>Eviler Zhao &copy; 2018 - 2019</span>
            <span>
                
                Power by <a href="http://hexo.io/" target="_blank">Hexo</a> Theme <a href="https://github.com/yscoder/hexo-theme-indigo" target="_blank">indigo</a>
            </span>
        </p>
    </div>
</footer>

    </main>
    <div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light"><span class="icon icon-lg icon-chevron-up"></span></a>



<div class="global-share" id="globalShare">
    <ul class="reset share-icons">
      <li>
        <a class="weibo share-sns" target="_blank" href="http://service.weibo.com/share/share.php?url=https://eviler.top/articles/angular-directive/&title=《AngularJS踩坑之路(一)：一些有关内置指令的要记》 — 独孤剑走偏锋&pic=https://eviler.top/img/eviler.png" data-title="微博">
          <i class="icon icon-weibo"></i>
        </a>
      </li>
      <li>
        <a class="weixin share-sns wxFab" href="javascript:;" data-title="微信">
          <i class="icon icon-weixin"></i>
        </a>
      </li>
      <li>
        <a class="qq share-sns" target="_blank" href="http://connect.qq.com/widget/shareqq/index.html?url=https://eviler.top/articles/angular-directive/&title=《AngularJS踩坑之路(一)：一些有关内置指令的要记》 — 独孤剑走偏锋&source=开始入坑angularJs，在此记录一下自己学习过程中的点滴，希望angular大哥能够友好对待小弟，我的学习地址：网易云云课堂，本文章记录一些我觉得需要..." data-title=" QQ">
          <i class="icon icon-qq"></i>
        </a>
      </li>
      <li>
        <a class="facebook share-sns" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://eviler.top/articles/angular-directive/" data-title=" Facebook">
          <i class="icon icon-facebook"></i>
        </a>
      </li>
      <li>
        <a class="twitter share-sns" target="_blank" href="https://twitter.com/intent/tweet?text=《AngularJS踩坑之路(一)：一些有关内置指令的要记》 — 独孤剑走偏锋&url=https://eviler.top/articles/angular-directive/&via=https://eviler.top" data-title=" Twitter">
          <i class="icon icon-twitter"></i>
        </a>
      </li>
      <li>
        <a class="google share-sns" target="_blank" href="https://plus.google.com/share?url=https://eviler.top/articles/angular-directive/" data-title=" Google+">
          <i class="icon icon-google-plus"></i>
        </a>
      </li>
    </ul>
 </div>


<div class="page-modal wx-share" id="wxShare">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <p>扫一扫，分享到微信</p>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMYAAADGCAAAAACs8KCBAAACH0lEQVR42u3aQY7DIAwF0N7/0pntLNr022ZGCjxWUZUGHgsLbL9e8bh+jfvf79/szbJsYGBgPJZx3Y7kneoS77cjnxcDA+M0xqeJk3c+vZl8OWEkX8DAwMCoPveC6WQjMDAwMPJp7i+0yaIxMDAwJpfYXoJsHnAX38UxMDAeyMiz7v///Cf1DQwMjEcxruJIjoCrjoaFVWFgYGzNmLdB3B/UclI14GJgYJzD6H00D5e98uf9jG9+wcDA2Joxubjmwbd3ia1uKAYGxt6M5HiXFwDyq+m8LQwDA+M0RhKJJ6mxPN1WPSZiYGDszZgk4qsNEJOywZfvY2BgHMzo9Tkk01cTbV8KDxgYGIcxqoGydxzMF1ooYWJgYBzGqCb9q2n9avKukC/EwMDYmrGqGND774KeEQwMjAMYo/Jh9TAXhOACBgMD4wBGNQXWW1a1jSPZJgwMjNMYvTavXqjN/xWtCgMDY2vGqsNcr6iQHxDzYysGBsaujCS0VZc+CaP5lr1JumFgYBzAyFu1euxqSG0GXAwMjE0ZScjLn5PkWvXE+uUyjIGBsSnjKo68SSIvRi64f2NgYGzNmLRKVEuVvaaKavsFBgbGroxekM0Tar3G1nLhEwMD4wDGgraGQQmzt03l+gYGBsYxjF5QnrRZFJJuGBgYGHEgzsuW8+MmBgbGOYy1LRGTC3CvNRYDA2NvxujqGCfLJtWJZUVNDAyM5zF+ABNBIuDzCZvpAAAAAElFTkSuQmCC" alt="微信分享二维码">
</div>




    <script src="//cdn.bootcss.com/node-waves/0.7.4/waves.min.js"></script>
<script>
var BLOG = { ROOT: '/', SHARE: true, REWARD: false };


</script>

<script src="/js/main.min.js?v=1.7.2"></script>


<div class="search-panel" id="search-panel">
    <ul class="search-result" id="search-result"></ul>
</div>
<template id="search-tpl">
<li class="item">
    <a href="{path}" class="waves-block waves-effect">
        <div class="title ellipsis" title="{title}">{title}</div>
        <div class="flex-row flex-middle">
            <div class="tags ellipsis">
                {tags}
            </div>
            <time class="flex-col time">{date}</time>
        </div>
    </a>
</li>
</template>

<script src="/js/search.min.js?v=1.7.2" async></script>






<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>



<script>
(function() {
    var OriginTitile = document.title, titleTime;
    document.addEventListener('visibilitychange', function() {
        if (document.hidden) {
            document.title = '君于何处?待君归来~';
            clearTimeout(titleTime);
        } else {
            document.title = '君归矣，善哉！';
            titleTime = setTimeout(function() {
                document.title = OriginTitile;
            },2000);
        }
    });
})();
</script>



</body>
</html>
